<table id="headersTable" class="table table-bordered table-hover">
    <thead id="headersTableTHead"></thead>
    <tbody></tbody>
</table>

<script>

    async function openEditHeadersModalForm() {
        _clearModalForm();

        document.getElementById('modalTableWindowHeaderText').innerHTML = 'Изменение наименования колонок';

        data.table.headers.forEach(e => {
            let divFormGroup = document.createElement("div");
            divFormGroup.className = 'form-group';

            document.getElementById('modalTableBody').appendChild(divFormGroup);

            let inputProperty = document.createElement("input");
            inputProperty.className = 'form-control newRow';
            inputProperty.value = e;

            divFormGroup.appendChild(inputProperty);
        });

        let modalSaveEditableItemButton = document.createElement('button');
        modalSaveEditableItemButton.className = 'btn btn-primary';
        modalSaveEditableItemButton.innerText = 'Изменить';
        modalSaveEditableItemButton.dataset.dismiss = 'modal';
        modalSaveEditableItemButton.setAttribute('onclick', 'saveHeaders()');

        let modalEditFooter = document.getElementById('modalTableFooter');
        modalEditFooter.appendChild(modalSaveEditableItemButton);
    }
    
</script>