
<button onclick="loadListFilePath()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectFile">...</button>

<div class="modal fade" id="selectFile" tabindex="-1" role="dialog" aria-labelledby="selectFile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Выберите файл</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="selectListButtonPath" class="modal-body">
                <table id="modalFileListTable" class="table table-hover" style="table-layout: fixed">
                    <thead>
                        <tr>
                            <td style="width: 40%">Имя файла</td>
                            <td style="width: 20%">Путь к файлу</td>
                            <td style="width: 10%">Расширение файла</td>
                            <td style="width: 15%">Размер файла в Kb</td>
                            <td style="width: 15%">Функции</td>
                        </tr>
                    </thead>
                    <tbody id="modalFileListTBody"></tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Выбрать</button>
            </div>
        </div>
    </div>
</div>

<script>

    let files = [];

    async function loadListFilePath() {
        try {
            let response = await fetch('/api/files', { method: 'POST', body: JSON.stringify({'fileExtension': 'txt'}) });
            let data = await response.json();
            _resetModalTable();
            files = [...data];
            addPathFilesInList(data);
        } catch (err) {
            console.error('Ошибка загрузки списка файлов', err);
        }
    }

    function addPathFilesInList(data) {
        const tBody = document.getElementById('modalFileListTBody');

        data.forEach((items, index) => {
            const tr = tBody.insertRow();
            console.log(items);

            for (var item in items) {
                let td = tr.insertCell();
                td.className = 'text-truncate';
                let textNode = document.createTextNode(items[item]);
                td.appendChild(textNode);
            }

            //let tdNameFile = tr.insertCell();
            //tdNameFile.className = 'text-truncate';
            //tdNameFile.style.width = "60%";
            //let textNodeName = document.createTextNode(items.name);
            //td.appendChild(textNodeName);

            
            //let tdFileSize = tr.insertCell();
            //tdFileSize.className = 'text-truncate';
            //tdFileSize.style.width = "10%";
            //let textNodeFileSize = document.createTextNode(items.fileSize);
            //td.appendChild(textNodeFileSize);

            let selectButton = document.createElement('button');
            selectButton.className = 'btn btn-primary';
            selectButton.innerText = 'Select';
            selectButton.dataset.dismiss = 'modal'
            selectButton.setAttribute('onclick', `selectFile(${index})`);

            let tdSelectButton = tr.insertCell();
            tdSelectButton.appendChild(selectButton);
        });
    }

    function _resetModalTable() {
        var table = document.getElementById('modalFileListTable');
        while (table.rows.length > 1) {
            table.deleteRow(1);
        }
    }

    function selectFile(index) {
        let inputFile = document.getElementById('PathFile');
        let pathFile = files[index].fullPath;
        inputFile.value = pathFile;
    }

</script>