<button onclick="loadListFilePath()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectFile">...</button>

<div class="modal fade" id="selectFile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Выберите файл</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="selectListButtonPath" class="modal-body">
                <table id="modalFileListTable" class="table table-hover table-bordered " style="table-layout: fixed">
                    <thead>
                        <tr>
                            <td style="width: 30%">Имя файла</td>
                            <td style="width: 40%">Путь к файлу</td>
                            <td style="width: 15%">Размер файла в Kb</td>
                            <td style="width: 15%">Функции</td>
                        </tr>
                    </thead>
                    <tbody id="modalFileListTBody"></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script>

    let files = [];

    async function loadListFilePath() {
        try {
            let response = await fetch('/api/files');
            let data = await response.json();
            _resetListFileModalTable();
            files = [...data];
            addPathFilesInList(data);
        } catch (err) {
            console.error('Ошибка загрузки списка файлов', err);
        }
    }

    function addPathFilesInList(data) {
        const tBody = document.getElementById('modalFileListTBody');

        data.forEach((items, index) => {
            const tr = tBody.insertRow();

            for (var item in items) {
                let td = tr.insertCell();
                let textNode = document.createTextNode(items[item]);
                td.appendChild(textNode);
            }

            let selectButton = document.createElement('button');
            selectButton.className = 'btn btn-primary';
            selectButton.innerText = 'Выбрать';
            selectButton.dataset.dismiss = 'modal'
            selectButton.setAttribute('onclick', `selectFile(${index})`);

            let tdSelectButton = tr.insertCell();
            tdSelectButton.appendChild(selectButton);
        });
    }

    function _resetListFileModalTable() {
        var table = document.getElementById('modalFileListTable');
        while (table.rows.length > 1) {
            table.deleteRow(1);
        }
    }

    function selectFile(index) {
        let inputFile = document.getElementById('PathFile');
        let pathFile = files[index].fullPath;
        inputFile.value = pathFile;
    }

</script>
