@model FileSettings

@{
    ViewData["Title"] = "Главная страница";
}

<form name="mainForm" action="javascript:void(0);" onsubmit="fetchTable()">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Путь к файлу</label>
        <div class="col-sm-9">
            <input class="form-control-plaintext form-control" type="text" asp-for="PathFile" placeholder="Выберите файл..." readonly required>
        </div>
        <div class="col-sm-1">
            @{await Html.RenderPartialAsync("_LoadListFilePathButtonPartialView");}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"> </div>
        <div class="col-sm-10">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" asp-for="IsHeadersFirst" />
                <label class="custom-control-label" asp-for="IsHeadersFirst">Первая строка содержит заголовки</label>
            </div>
        </div>
    </div>

    <fieldset class="form-group">
        <div class="row">
            <label class="col-form-label col-sm-2 pt-0">Разделитель ячеек</label>
            <div class="col-sm-10">
                @foreach (SeparatorEnum item in Enum.GetValues(typeof(SeparatorEnum)))
                {
                <div class="custom-control custom-checkbox">
                    @if (item == SeparatorEnum.Tab)
                    {
                        <input onclick="switchCustomSeparatorInput(this)" id="customRadio@((int)item)" type="radio" class="custom-control-input" asp-for="Separator.SeparatorEnum" value="@((int)item)" required checked>
                    }
                    else
                    {
                        <input onclick="switchCustomSeparatorInput(this)" id="customRadio@((int)item)" type="radio" class="custom-control-input" asp-for="Separator.SeparatorEnum" value="@((int)item)" required>
                    }
                    <label class="custom-control-label" for="customRadio@((int)item)">@(item)</label>
                    @if (item == SeparatorEnum.Custom)
                    {
                        <input id="customSeparatorInput" class="form-control col-sm-2" type="hidden" asp-for="Separator.CustomSeparator">
                    }
                </div>
                }
            </div>
        </div>
    </fieldset>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-warning">Прочитать данные</button>
        </div>
    </div>

</form>

<hr />

@{await Html.RenderPartialAsync("_TablesPartialView");}

<script>

    function switchCustomSeparatorInput(radioButton) {
        let customSeparatorInput = document.getElementById('customSeparatorInput');
        let activeCustomInput = radioButton.value === '3'
        customSeparatorInput.setAttribute('type', activeCustomInput ? 'visible' : 'hidden');
    }

</script>
